# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [11]:
import pandas as pd
import numpy as np

# Seu código aqui

temp = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

temp_med = pd.Series(temp)

temp_med

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [5]:
# seu código aqui

index = ['1900','1920','1940','1960','1980','2000','2020']

temp_med = pd.Series(temp,index)

temp_med

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [6]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

dic_temp_med = pd.Series(dic_temperaturas)

dic_temp_med

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [16]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

pd.DataFrame(arr)

             0           1           2
0    89.127828  123.360280  104.288377
1   101.389886   98.781802   90.817570
2   105.714213   92.609420   91.072187
3    97.453411   99.656466  105.539893
4    88.552966   85.258591  101.748467
5   108.560097  115.533508   95.855031
6   105.881990   97.900542   97.574249
7   123.573320  101.009055  108.743104
8    96.106805  120.985265  107.042859
9    80.613997  101.502805  103.674566
10  101.708906  102.571497   94.479310
11  103.638788  114.076114   98.242665
12   91.796954   93.048498   82.216918
13   87.572440   97.495436   96.918229
14   85.486389  108.161220   94.439230
15   97.169504   99.967846   91.392546
16  103.592598   88.759912  117.248609
17  102.892119   83.453979  111.717561
18   91.223660   96.329926   96.994847
19  109.852084   89.803655   95.041940

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [20]:
#seu código aqui

numeros = pd.DataFrame(arr, index=range(1, 21), columns=['x1', 'x2', 'x3'])

numeros

            x1          x2          x3
1    89.127828  123.360280  104.288377
2   101.389886   98.781802   90.817570
3   105.714213   92.609420   91.072187
4    97.453411   99.656466  105.539893
5    88.552966   85.258591  101.748467
6   108.560097  115.533508   95.855031
7   105.881990   97.900542   97.574249
8   123.573320  101.009055  108.743104
9    96.106805  120.985265  107.042859
10   80.613997  101.502805  103.674566
11  101.708906  102.571497   94.479310
12  103.638788  114.076114   98.242665
13   91.796954   93.048498   82.216918
14   87.572440   97.495436   96.918229
15   85.486389  108.161220   94.439230
16   97.169504   99.967846   91.392546
17  103.592598   88.759912  117.248609
18  102.892119   83.453979  111.717561
19   91.223660   96.329926   96.994847
20  109.852084   89.803655   95.041940

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [21]:
# seu código aqui

numeros['media'] = (numeros['x1'] + numeros['x2'] + numeros['x3']) / 3

numeros

            x1          x2          x3       media
1    89.127828  123.360280  104.288377  105.592162
2   101.389886   98.781802   90.817570   96.996420
3   105.714213   92.609420   91.072187   96.465273
4    97.453411   99.656466  105.539893  100.883257
5    88.552966   85.258591  101.748467   91.853341
6   108.560097  115.533508   95.855031  106.649545
7   105.881990   97.900542   97.574249  100.452260
8   123.573320  101.009055  108.743104  111.108493
9    96.106805  120.985265  107.042859  108.044976
10   80.613997  101.502805  103.674566   95.263789
11  101.708906  102.571497   94.479310   99.586571
12  103.638788  114.076114   98.242665  105.319189
13   91.796954   93.048498   82.216918   89.020790
14   87.572440   97.495436   96.918229   93.995369
15   85.486389  108.161220   94.439230   96.028946
16   97.169504   99.967846   91.392546   96.176632
17  103.592598   88.759912  117.248609  103.200373
18  102.892119   83.453979  111.717561   99.354553
19   91.223660   96.329926   96.994847   94.849478
20  109.852084   89.803655   95.041940   98.232560

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [23]:
# seu código aqui

numeros['log_med'] = np.log(numeros['media'])

numeros

            x1          x2          x3       media   log_med
1    89.127828  123.360280  104.288377  105.592162  4.659584
2   101.389886   98.781802   90.817570   96.996420  4.574674
3   105.714213   92.609420   91.072187   96.465273  4.569183
4    97.453411   99.656466  105.539893  100.883257  4.613964
5    88.552966   85.258591  101.748467   91.853341  4.520193
6   108.560097  115.533508   95.855031  106.649545  4.669548
7   105.881990   97.900542   97.574249  100.452260  4.609683
8   123.573320  101.009055  108.743104  111.108493  4.710507
9    96.106805  120.985265  107.042859  108.044976  4.682548
10   80.613997  101.502805  103.674566   95.263789  4.556650
11  101.708906  102.571497   94.479310   99.586571  4.601027
12  103.638788  114.076114   98.242665  105.319189  4.656996
13   91.796954   93.048498   82.216918   89.020790  4.488870
14   87.572440   97.495436   96.918229   93.995369  4.543246
15   85.486389  108.161220   94.439230   96.028946  4.564650
16   97.169504   99.967846   91.392546   96.176632  4.566186
17  103.592598   88.759912  117.248609  103.200373  4.636672
18  102.892119   83.453979  111.717561   99.354553  4.598695
19   91.223660   96.329926   96.994847   94.849478  4.552291
20  109.852084   89.803655   95.041940   98.232560  4.587338